*{
    padding: 0;
    margin: 0;
   
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    /* flex-wrap: wrap; */
   
   
}

.item1 ,.item2, .item3{
    height: 300px;
   width: 300px;
   
}
.item1{
    background-color: aqua;
    flex-basis: 500px;
}
.item2{
    background-color: rgb(255, 0, 225);
    flex-shrink: 5;
   
}
.item3{
    background-color: rgb(20, 169, 169);
    flex-shrink: 4;
   
}