*{
    margin: 0;
    padding: 0;
}
.navigation1{
    background-color: black;
    color: white;
    width: 40%;
    height: 3.5rem;
    position: fixed;
    top: 300px;
    left: 300px;
    
}
.navigation2{
    background-color: rgb(150, 17, 17);
    color: white;
    width: 30%;
    height: 3.5rem;
    position: fixed;
    top: 300px;
    left: 300px;
   
}
.container{
    height: 30px;
    width: 50%;
    background-color: rgb(42, 40, 40);
}
.parent{
    position: fixed;
    background-color: crimson;
}